/* Opening stuff */
html {
    background-color: var(--background-color);
    font-family: "Helvetica Neue", Arial, sans-serif;
    --width: 4;
    --height: 4;
    --grid_vw: 33;
    --grid_width: calc(1vw * var(--grid_vw) * min(1, var(--width)/var(--height)));
    --grid_height: calc(1vw * var(--grid_vw) * min(1, var(--height)/var(--width)));
    --tile_size: calc(var(--grid_width)/var(--width) * 0.9);
    --th_dist: 0px;
    --tv_dist: 0px;
    --background-color: #fff5da;
    --grid-color: #c7bea7;
    --tile-color: #ece0c2;
    --text-color: #524c46;
    --tile-image: none;
    color: var(--text-color);
    background-image: linear-gradient(90deg, #ffff00, #0099ff);
    background-size: 100vw 100vh;
    --aspect_ratio: 1.77777777777777777777;
}
#css_calculator {
    display: none;
    width: var(--tile_size); /* Actually stores the tile size numerically */
    color : #0b4c00; /* This is just here so I have an easy place to choose colors from */
}
.hover_grow {
    transition: scale 0.5s;
}
.hover_grow:hover {
    scale: 1.05
}

/* Menu */
#menu {
    display: block;
    text-align: center;
    color: #ffff8d;
    font-size: 4vh;
    --menu_grid_size: 75vh;
}
#compendium_title {
    font-size: 8vh;
    color: #ffe100;
    text-shadow: 0px 0px 1vh #ff00cc;
}
#menu > p, #menu > h1 {
    margin-top: 0vh;
    margin-bottom: 1.5vh;
}
#menu_grid_storage {
    display: none;
}
.menu_grid {
    position: relative;
    display: inline-block;
    width: calc(var(--menu_grid_size));
    height: calc(var(--menu_grid_size));
    background-color: #efecd7;
    margin: auto;
}
.menu_tile {
    width: calc(var(--menu_grid_size) * 13.5 / 75);
    height: calc(var(--menu_grid_size) * 13.5 / 75);
    --tile_font_size: 4.8;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: calc(var(--menu_grid_size) * var(--tile_font_size) / 75);
    color: #000;
    box-shadow: none;
    border: calc(var(--menu_grid_size) * 0.4 / 75) solid black;
    box-sizing: border-box;
}
.menu_button {
    width: 33vh;
    position: absolute;
    font-size: 4vh;
    font-weight: bold;
    padding: 2vh;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
#menu_import {
    color: #cc5eff;
    background-color: #7200a6;
    border: 1vh solid #cc5eff;
    left: 75vw;
    top: 30vh;
}
#menu_extra {
    color: #a48b00;
    background-color: #383838;
    border: 1vh solid #a48b00;
    right: 75vw;
    top: 30vh;
}
#menu_to_modifiers {
    color: #ff7742;
    background-color: #ffed88;
    border: 1vh solid #ff7742;
    right: 75vw;
    top: 70vh;
}
#menu_to_guide {
    color: #00a582;
    background-color: #23ff86;
    border: 1vh solid #00a582;
    left: 75vw;
    top: 70vh;
    line-height: 0.8em;
}
#guide_attraction {
    color: #ff0000;
    font-size: 0.5em;
    line-height: 0.8em;
}
#modifiers_box {
    display: inline-block;
    position: relative;
    background-color: #e5b8b8;
    width: 75vh;
    height: 30vh;
}
@media screen and (max-aspect-ratio: 8/5) {
    #menu {
        --menu_grid_size: 47vw;
    }
    .menu_button {
        width: 20vw;
        font-size: 1.875vw;
        padding: 0.9375vw;
        height: 4.25vw;
    }
}
@media screen and (max-aspect-ratio: 7/5) {
    #menu {
        --menu_grid_size: 65vh;
    }
    #menu_extra {
        border: 1vh solid #a48b00;
        left: 2vw;
        top: 85vh;
    }
    #menu_extra_return {
        border: 1vh solid #ffff00;
        left: 2vw;
        top: 85vh;
    }
    #menu_import {
        border: 1vh solid #cc5eff;
        left: 26vw;
        top: 85vh;
    }
    #menu_to_modifiers {
        border: 1vh solid #ff7742;
        left: 50vw;
        top: 85vh;
    }
    #menu_to_guide {
        border: 1vh solid #00a582;
        left: 74vw;
        top: 85vh;
    }
}
@media screen and (max-aspect-ratio: 6/5) {
    #menu {
        font-size: 3vh;
    }
    #compendium_title {
        font-size: 6vh;
        text-shadow: 0px 0px 0.75vh #ff00cc;
    }
}
@media screen and (max-aspect-ratio: 19/20) {
    #menu {
        font-size: 2.5vh;
    }
    #compendium_title {
        font-size: 5vh;
        text-shadow: 0px 0px 0.625vh #ff00cc;
    }
    .menu_button {
        width: 20vh;
        font-size: 2.375vh;
        padding: 1.1875vh;
        height: 5.34vh;
    }
    #menu_extra {
        border: 0.75vh solid #a48b00;
        left: calc(50vw - 24vh);
        top: 79vh;
    }
    #menu_extra_return {
        border: 0.75vh solid #ffff00;
        left: calc(50vw - 24vh);
        top: 79vh;
    }
    #menu_import {
        border: 0.75vh solid #cc5eff;
        left: calc(50vw + 4vh);
        top: 79vh;
    }
    #menu_to_modifiers {
        border: 0.75vh solid #ff7742;
        left: calc(50vw - 24vh);
        top: 90vh;
    }
    #menu_to_guide {
        border: 0.75vh solid #00a582;
        left: calc(50vw + 4vh);
        top: 90vh;
    }
}
@media screen and (max-aspect-ratio: 3/4) {
    #menu {
        font-size: 2vh;
    }
    #compendium_title {
        font-size: 4vh;
        text-shadow: 0px 0px 0.5vh #ff00cc;
    }
}
@media screen and (max-aspect-ratio: 67/100) {
    #menu {
        --menu_grid_size: 95vw;
        font-size: 3vw;
    }
    #compendium_title {
        font-size: 6vw;
        text-shadow: 0px 0px 0.75vw #ff00cc;
    }
}
@media screen and (max-aspect-ratio: 3/5) {
    .menu_button:not(#never) { /*Specificity increase trick*/
        width: 50vw;
        font-size: 4vw;
        padding: 1vw;
        height: 5vw;
        border-width: 1.25vw;
        position: relative;
        margin: auto;
        margin-top: 3vw;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

/* Gamemode screen */
#gamemode {
    display: none;
    text-align: center;
    color: black;
    font-size: 2.25vh;
    --gm_scale: 1;
}
#gm_big_tile {
    width: 16.875vh;
    height: 16.875vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    --gm_tfs : 6;
    font-size: calc(1vh * var(--gm_tfs));
    color: #000;
    margin: auto;
    border: 0.5vh solid black;
    position: relative;
}
#start_game {
    background-color: var(--text-color);
    font-size: 5vh;
    color: #fff;
    font-weight: bold;
    padding: 1vh;
    width: 35vh;
    margin: auto;
    margin-bottom: 2vh;
}
#mode_vars_line {
    display: none;
    width: 100%;
}
.gm_var_line {
    width: 100%;
    display: none;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.gm_var_line_wrapping {
    width: 100%;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
}
#gm_size_line {
    display: flex;
}
.gm_var_container {
    font-size: 3vh;
    height: 15vh;
    position: relative;
    width: 25%;
}
.gm_var_switch_container {
    font-size: 3vh;
    height: 15vh;
    position: relative;
    width: 100%;
}
.gm_var_switchForm_container {
    font-size: 3vh;
    height: 20vh;
    position: relative;
    width: 100%;
}
.many_vars > .gm_var_container, .many_vars > .gm_var_switch_container, .many_vars > .gm_var_switchForm_container {
    width : 25%;
}
#gm_width, #gm_4D_width, #modifiers_customGridWidth {
    color: #060048;
}
#gm_height, #gm_4D_height, #modifiers_customGridHeight {
    color: #480000;
}
.gm_var_title {
    font-size: 3vh;
    margin-bottom: -6vh;
}
.gm_var_counter {
    font-weight: bold;
    font-size: 6vh;
}
.gm_grid_button {
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 0.3vh solid;
    font-size: 4vh;
    position: absolute;
}
.minus_button {
    color: #0008ff;
    background-color: #00b7ff;
    left: calc(50% - 20vh);
    top: 7vh;
}
.plus_button {
    color: #ff2a00;
    background-color: #ffcc00;
    right: calc(50% - 20vh);
    top: 7vh;
}
.gmSwitchModifier {
    width: 25vh;
    font-size: 2.25vh;
    background-color: #00ff91;
    color: #00b7ff;
    border: 0.56vh solid #00b7ff;
    font-weight: bold;
    margin: auto;
    padding: 0.75vh;
    position: relative;
}
#GaussianDIVE_enter_button {
    width: 25vh;
    font-size: 2.25vh;
    background-color: #5e6644;
    color: #333c55;
    border: 0.56vh solid #333c55;
    font-weight: bold;
    margin: auto;
    padding: 0.75vh;
    position: relative;
}
.gm_var_switchForm_container > .gmSwitchModifier {
    top: 8vh;
}
.gmSwitchButtonLine {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.gmDecreaseModifier {
    background-color: #001aff;
    color: #00bbff;
    border: 0.56vh solid #00bbff;
}
.gmIncreaseModifier {
    background-color: #ffe600;
    color: #ff1500;
    border: 0.56vh solid #ff1500;
}
.gm_var_text {
    font-size: 2.25vh;
    font-weight: bold;
}
.gm_var_form > input {
    font-size: 3vh;
    height: 5vh;
    position: relative;
    top: 7.5vh;
    text-align: center;
}
#XXXX_min {
    color: #447900;
}
#XXXX_max {
    color: #970097;
}
#Isotopic256_halfLife {
    color: #027e00;
}
#XpowY_pow {
    color: #ffbd8e;
}
#XpowY_merge {
    color: #ff84ff;
}
#DIVE_primeSpawns {
    color: #008;
}
#DIVE_unlockRules {
    color: #b7ff3c;
}
.firstGoalMinimum {
    color: #724e7d;
}
#gm_return {
    background-color: var(--grid-color);
    font-size: 3vh;
    color: #000;
    font-weight: bold;
    padding: 1vh;
    width: 25vh;
    margin: auto;
    margin-bottom: 2vh;
    text-align: center;
}
#gm_diamond, #modifiers_customGridSize {
    color: #006a7c;
}
#gm_4D_height {
    color: #004800;
}
#gm_4D_depth {
    color: #484800;
}
@media screen and (max-aspect-ratio: 33/20) {
    #gamemode {
        font-size: calc(1.36vw * var(--gm_scale));
    }
    #gm_big_tile {
        width: calc(10.23vw * var(--gm_scale));
        height: calc(10.23vw * var(--gm_scale));
        font-size: calc(0.6vw * var(--gm_tfs) * var(--gm_scale));
        border: calc(0.3vw * var(--gm_scale)) solid black;
    }
    #start_game {
        font-size: calc(3vw * var(--gm_scale));
        padding: calc(0.6vw * var(--gm_scale));
        width: calc(21.21vw * var(--gm_scale));
        margin-bottom: calc(1.2vw * var(--gm_scale));
    }
    #gamemode .gm_var_container, #gamemode .gm_var_switch_container {
        font-size: calc(1.8vw * var(--gm_scale));
        height: calc(9.09vw * var(--gm_scale));
    }
    #gamemode .gm_var_switchForm_container {
        font-size: calc(1.8vw * var(--gm_scale));
        height: calc(12.12vw * var(--gm_scale));
    }
    .gmSwitchModifier {
        width: calc(15.15vw * var(--gm_scale));
        font-size: calc(1.36vw * var(--gm_scale));
        border-width: calc(0.34vw * var(--gm_scale));
        padding: calc(0.45vw * var(--gm_scale));
    }
    .gm_var_switchForm_container > .gmSwitchModifier {
        top: calc(4.85vw * var(--gm_scale));
    }
    .gm_var_text {
        font-size: calc(1.36vw * var(--gm_scale));
    }
    .gm_var_form > input {
        font-size: calc(1.82vw * var(--gm_scale));;
        height: calc(3.03vw * var(--gm_scale));;
        top: calc(4.54vw * var(--gm_scale));;
    }
    #gamemode .gm_var_title {
        font-size: calc(1.8vw * var(--gm_scale));
        margin-bottom: calc(-3.6vw * var(--gm_scale));
    }
    #gamemode .gm_var_counter {
        font-size: calc(3.6vw * var(--gm_scale));
    }
    #gamemode .gm_grid_button {
        width: calc(3vw * var(--gm_scale));
        height: calc(3vw * var(--gm_scale));
        border: calc(0.18vw * var(--gm_scale)) solid;
        font-size: calc(2.4vw * var(--gm_scale));
    }
    #gamemode .minus_button {
        left: calc(50% - 12.12vw * var(--gm_scale));
        top: calc(4.25vw  * var(--gm_scale));
    }
    #gamemode .plus_button {
        right: calc(50% - 12.12vw * var(--gm_scale));
        top: calc(4.25vw * var(--gm_scale));
    }
    #gm_return {
        font-size: calc(1.8vw * var(--gm_scale));
        padding: calc(0.6vw * var(--gm_scale));
        width: calc(15.15vw * var(--gm_scale));
        margin-bottom: calc(1.2vw * var(--gm_scale));
    }
}
@media screen and (max-aspect-ratio: 21/20) {
    #gamemode {
        --gm_scale: 4/3;
    }
    .gm_var_line {
        flex-wrap: wrap;
    }
    .gm_var_container {
        width: 50%;
    }
    .many_vars > .gm_var_container, .many_vars > .gm_var_switch_container, .many_vars > .gm_var_switchForm_container {
        width : 50%;
    }
}
@media screen and (max-aspect-ratio: 13/20) {
    #gamemode {
        --gm_scale: 2;
    }
}
@media screen and (max-aspect-ratio: 7/20) {
    .gm_var_container {
        width: 100%;
    }
    .many_vars > .gm_var_container, .many_vars > .gm_var_switch_container, .many_vars > .gm_var_switchForm_container {
        width : 100%;
    }
}

/* Modifiers */
#modifiers {
    display: none;
    text-align: center;
    color: #ff7742;
    --modifiers_base_size: 1vh;
    font-size: calc(var(--modifiers_base_size) * 2.5);
}
#modifiers_return {
    width: calc(var(--modifiers_base_size) * 33);
    position: relative;
    font-size: calc(var(--modifiers_base_size) * 4);
    font-weight: bold;
    padding: calc(var(--modifiers_base_size) * 2);
    height: calc(var(--modifiers_base_size) * 5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #787800;
    background-color: #004675;
    border: var(--modifiers_base_size) solid #787800;
    margin: auto;
    margin-top: calc(var(--modifiers_base_size) * 3);
    margin-bottom: 0;
}
#modifiers_title {
    font-size: calc(var(--modifiers_base_size) * 6);
    margin-top: 0;
    margin-bottom: calc(var(--modifiers_base_size) * 1.5);
}
#modifiers_subtitle {
    font-size: calc(var(--modifiers_base_size) * 3);
    margin-top: 0;
    margin-bottom: calc(var(--modifiers_base_size) * 1.5);
}
#modifiers_page_switch {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-top: calc(var(--modifiers_base_size) * -2);
}
#modifiers_page_counter, #modifiers_AutoMoves_counter {
    display: inline-block;
    font-size: calc(var(--modifiers_base_size) * 4);
    font-weight: bold;
}
#modifiers .gm_var_title {
    font-size: calc(var(--modifiers_base_size) * 3);
    margin-bottom: calc(var(--modifiers_base_size) * -6);
}
#modifiers .gm_var_counter {
    font-size: calc(var(--modifiers_base_size) * 6);
}
#modifiers .gm_grid_button {
    width: calc(var(--modifiers_base_size) * 5);
    height: calc(var(--modifiers_base_size) * 5);
    border: calc(var(--modifiers_base_size) * 0.3) solid;
    font-size: calc(var(--modifiers_base_size) * 4);
}
#modifiers .minus_button {
    left: calc(50% - calc(var(--modifiers_base_size) * 20));
    top: calc(var(--modifiers_base_size) * 7);
}
#modifiers .plus_button {
    right: calc(50% - calc(var(--modifiers_base_size) * 20));
    top: calc(var(--modifiers_base_size) * 7);
}
#modifiers .previous_arrow_button {
    position: absolute;
    height: calc(var(--modifiers_base_size) * 6);
    width: auto;
    left: calc(50% - calc(var(--modifiers_base_size) * 20));
    top: calc(var(--modifiers_base_size) * 3);
}
#modifiers .next_arrow_button {
    position: absolute;
    height: calc(var(--modifiers_base_size) * 6);
    width: auto;
    right: calc(50% - calc(var(--modifiers_base_size) * 20));
    top: calc(var(--modifiers_base_size) * 3);
}
#modifiers .gm_var_form > input {
    font-size: calc(var(--modifiers_base_size) * 3);
    height: calc(var(--modifiers_base_size) * 5);
    top: calc(var(--modifiers_base_size) * 7.5);
}
.modifiers_flexbox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.modifiers_var_container {
    font-size: calc(var(--modifiers_base_size) * 3);
    height: calc(var(--modifiers_base_size) * 15);
    position: relative;
    width: 25%;
}
.modifiers_var_container_stretching {
    font-size: calc(var(--modifiers_base_size) * 3);
    min-height: calc(var(--modifiers_base_size) * 15);
    position: relative;
    width: 25%;
}
.modifiers_box_2x2_entry {
    width: 50%;
    height: 50%;
}
#modifiers_negativetiles_SpawnRatios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#modifiers_negativetiles_positiveSpawnRatio_title {
    color: #ad0000
}
#modifiers_negativetiles_negativeSpawnRatio_title {
    color: #0000ad
}
.negativeTiles_spawnFormBox {
    width: 50%;
}
#modifiers_temporaryHoles_numeric {
    color: #222;
}
.modifier_text {
    font-weight: bold;
    font-size: calc(var(--modifiers_base_size) * 3); 
}
.modifier_subtext {
    font-weight: bold;
    font-size: calc(var(--modifiers_base_size) * 2);
}
.SwitchModifier {
    width: calc(var(--modifiers_base_size) * 33);
    font-size: calc(var(--modifiers_base_size) * 3);
    background-color: #00ff91;
    color: #00b7ff;
    border: calc(var(--modifiers_base_size) * 0.75) solid #00b7ff;
    font-weight: bold;
    margin: auto;
    padding: calc(var(--modifiers_base_size) * 1);
}
.ActivateModifier {
    width: calc(var(--modifiers_base_size) * 40);
    font-size: calc(var(--modifiers_base_size) * 3);
    background-color: #008800;
    color: #00ff00;
    border: calc(var(--modifiers_base_size) * 0.75) solid #00ff00;
    font-weight: bold;
    margin: auto;
    padding: calc(var(--modifiers_base_size) * 1);
}
.DeactivateModifier {
    width: calc(var(--modifiers_base_size) * 40);
    font-size: calc(var(--modifiers_base_size) * 3);
    background-color: #880000;
    color: #ff0000;
    border: calc(var(--modifiers_base_size) * 0.75) solid #ff0000;
    font-weight: bold;
    margin: auto;
    padding: calc(var(--modifiers_base_size) * 1);
}
.CustomGridSwitch {
    width: calc(var(--modifiers_base_size) * 45);
    font-size: calc(var(--modifiers_base_size) * 3);
    background-color: #ff74fa;
    color: #d700c9;
    border: calc(var(--modifiers_base_size) * 0.75) solid #d700c9;
    font-weight: bold;
    margin: auto;
    padding: calc(var(--modifiers_base_size) * 1);
    margin-top: calc(var(--modifiers_base_size) * -2);
}
.ModifierAdd {
    width: calc(var(--modifiers_base_size) * 45);
    font-size: calc(var(--modifiers_base_size) * 3);
    background-color: #73006f;
    color: #ca00c3;
    border: calc(var(--modifiers_base_size) * 0.75) solid #ca00c3;
    font-weight: bold;
    margin: auto;
    padding: calc(var(--modifiers_base_size) * 1);
}
.ModifierRemove {
    width: calc(var(--modifiers_base_size) * 45);
    font-size: calc(var(--modifiers_base_size) * 3);
    background-color: #006478;
    color: #00a9ca;
    border: calc(var(--modifiers_base_size) * 0.75) solid #00a9ca;
    font-weight: bold;
    margin: auto;
    padding: calc(var(--modifiers_base_size) * 1);
}
#modifiers_customGridLine, #modifiers_customDirectionsLine {
    width: 100%;
    height: calc(var(--modifiers_base_size) * 56);
    margin-top: calc(var(--modifiers_base_size) * 1);
    margin-bottom: calc(var(--modifiers_base_size) * -2);
    position: relative;
    display: block;
}
#modifiers_customGrid {
    --custom_grid_width: calc(var(--modifiers_base_size) * 56 * min(1, calc(var(--width) / var(--height))));
    --custom_grid_height: calc(var(--modifiers_base_size) * 56 * min(1, calc(var(--height) / var(--width))));
    position: absolute;
    display: inline-block;
    width: var(--custom_grid_width);
    height: var(--custom_grid_height);
    background-color: #b8ad4c;
    left: calc(50% - calc(var(--custom_grid_width) / 2));
    top: calc(50% - calc(var(--custom_grid_height) / 2));
}
.customGridTile {
    display: inline-block;
    width: calc(var(--tile_size) * max(1, var(--height)/var(--width)));
    height: calc(var(--tile_size) * max(1, var(--width)/var(--height)));
    background-color: #e8de81;
    position: absolute;
    overflow: visible;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    background-size: 100% 100%;
}
.modifiers_customGridSizeLine, #modifiers_customGridNotice {
    width: calc(var(--modifiers_base_size) * 56);
    height: calc(var(--modifiers_base_size) * 56);
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.modifiers_customGridSizeLine {
    left: calc(25% - calc(var(--modifiers_base_size) * 42));
}
#modifiers_customGridNotice {
    right: calc(25% - calc(var(--modifiers_base_size) * 42));
    font-size: calc(var(--modifiers_base_size) * 4);
}
.modifiers_customGridSizeLine > .modifiers_var_container {
    font-size: calc(var(--modifiers_base_size) * 3);
    height: calc(var(--modifiers_base_size) * 15);
    position: relative;
    width: 100%;
}
#modifiers_customDirectionsLine {
    width: 100%;
    height: calc(var(--modifiers_base_size) * 56);
    position: relative;
    display: block;
}
#modifiers_customArrowContainer {
    position: absolute;
    display: inline-block;
    width: calc(var(--modifiers_base_size) * 56);
    height: calc(var(--modifiers_base_size) * 56);
    background-color: #e3d772;
    left: calc(66% - calc(var(--modifiers_base_size) * 28));
    top: calc(50% - calc(var(--modifiers_base_size) * 28));
}
#modifiers_customArrowOptions {
    position: absolute;
    display: inline-block;
    width: calc(66% - calc(var(--modifiers_base_size) * 28));
    height: calc(var(--modifiers_base_size) * 56);
    left: 0px;
    top: calc(50% - calc(var(--modifiers_base_size) * 28));
}
#modifiers_customArrowForms {
    position: absolute;
    width: 100%;
    height: calc(var(--modifiers_base_size) * 42);
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.customArrow_var_container {
    font-size: calc(var(--modifiers_base_size) * 3);
    height: calc(var(--modifiers_base_size) * 11);
    position: relative;
    width: 33%;
}
#modifiers_customArrowForms .gm_var_title {
    font-size: calc(var(--modifiers_base_size) * 2);
    margin-bottom: calc(var(--modifiers_base_size) * -4);
    position: relative;
    bottom: calc(var(--modifiers_base_size) * 1);
}
#modifiers_customArrowForms .gm_var_counter {
    font-size: calc(var(--modifiers_base_size) * 5);
    position: relative;
    bottom: calc(var(--modifiers_base_size) * 1);
}
#modifiers_customArrowForms .gm_grid_button {
    width: calc(var(--modifiers_base_size) * 4);
    height: calc(var(--modifiers_base_size) * 4);
    border: calc(var(--modifiers_base_size) * 0.24) solid;
    font-size: calc(var(--modifiers_base_size) * 3.2);
}
#modifiers_customArrowForms .minus_button {
    left: calc(50% - calc(var(--modifiers_base_size) * 16));
    top: calc(var(--modifiers_base_size) * 5);
}
#modifiers_customArrowForms .plus_button {
    right: calc(50% - calc(var(--modifiers_base_size) * 16));
    top: calc(var(--modifiers_base_size) * 5);
}
#modifiers_customArrowForms .gm_var_form > input {
    font-size: calc(var(--modifiers_base_size) * 2.5);
    height: calc(var(--modifiers_base_size) * 4.17);
    width: 80%;
    top: calc(var(--modifiers_base_size) * 4.25);
}
#modifiers_customArrow_keyLine {
    font-size: calc(var(--modifiers_base_size) * 2.5);
    width: 100%;
    height: calc(var(--modifiers_base_size) * 14);
    position: absolute;
    left: 0px;
    top: calc(var(--modifiers_base_size) * 42);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#modifiers_customArrow_keyText {
    width: 100%;
}
#modifiers_customArrow_removeKey {
    width: calc(var(--modifiers_base_size) * 30);
    font-size: calc(var(--modifiers_base_size) * 2.25);
    background-color: #78372f;
    color: #ff6554;
    border: calc(var(--modifiers_base_size) * 0.5625) solid #ff6554;
    font-weight: bold;
    margin: auto;
    padding: calc(var(--modifiers_base_size) * 0.75);
}
#modifiers_customArrow_addKey {
    width: calc(var(--modifiers_base_size) * 30);
    font-size: calc(var(--modifiers_base_size) * 2.25);
    background-color: #3f2c88;
    color: #7654ff;
    border: calc(var(--modifiers_base_size) * 0.5625) solid #7654ff;
    font-weight: bold;
    margin: auto;
    padding: calc(var(--modifiers_base_size) * 0.75);
}
#modifiers_customArrow_directionRight {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: calc(33% - calc(var(--modifiers_base_size) * 28));
    height: calc(var(--modifiers_base_size) * 56);
    right: 0px;
    top: calc(50% - calc(var(--modifiers_base_size) * 28));
}
#modifiers_customArrow_directionRightText {
    font-size: calc(var(--modifiers_base_size) * 3);
}
#modifiers_customArrow_removeDirection {
    width: calc(var(--modifiers_base_size) * 20);
    font-size: calc(var(--modifiers_base_size) * 4.25);
    background-color: #006478;
    color: #00a9ca;
    border: calc(var(--modifiers_base_size) * 0.5625) solid #00a9ca;
    font-weight: bold;
    margin: auto;
    padding: calc(var(--modifiers_base_size) * 0.75);
}
#modifiers_customArrow_addDirection {
    width: calc(var(--modifiers_base_size) * 20);
    font-size: calc(var(--modifiers_base_size) * 4.25);
    background-color: #73006f;
    color: #ca00c3;
    border: calc(var(--modifiers_base_size) * 0.5625) solid #ca00c3;
    font-weight: bold;
    margin: auto;
    padding: calc(var(--modifiers_base_size) * 0.75);
}
#modifiers_AutoMovesBox {
    width: 100%;
    color: #742fc3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#modifiers_AutoMoves_selectionLine, #modifiers_AutoMoves_buttonsLine {
    width: 100%;
    height: calc(var(--modifiers_base_size) * 9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
#modifiers_AutoMoves_propertiesLine {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: calc(var(--modifiers_base_size) * 0.5);
}
#modifiers_AutoMovesBox .previous_arrow_button {
    height: calc(var(--modifiers_base_size) * 5.5);
    left: calc(50% - calc(var(--modifiers_base_size) * 35));
    top: calc(var(--modifiers_base_size) * 1.8);
}
#modifiers_AutoMovesBox .next_arrow_button {
    height: calc(var(--modifiers_base_size) * 5.5);
    right: calc(50% - calc(var(--modifiers_base_size) * 35));
    top: calc(var(--modifiers_base_size) * 1.8);
}
@media screen and (max-aspect-ratio: 19/10) {
    #modifiers_customArrowForms .minus_button {
        left: calc(50% - calc(var(--modifiers_base_size) * 14));
    }
    #modifiers_customArrowForms .plus_button {
        right: calc(50% - calc(var(--modifiers_base_size) * 14));
    }
}
@media screen and (max-aspect-ratio: 16/9) {
    #modifiers {
        --modifiers_base_size: 0.5625vw;
    }
    #modifiers_customArrowForms .gm_var_title {
        font-size: calc(var(--modifiers_base_size) * 2);
    }
}
@media screen and (max-aspect-ratio: 16/9) {
    #modifiers {
        --modifiers_base_size: 0.5625vw;
    }
    #modifiers_customArrowForms .gm_var_title {
        font-size: calc(var(--modifiers_base_size) * 2);
    }
}
@media screen and (max-aspect-ratio: 7/5) {
    #modifiers {
        --modifiers_base_size: 0.65vw;
    }
    .modifiers_var_container, .modifiers_var_container_stretching {
        width: 33%;
    }
    #modifiers_customGridNotice {
        all: revert;
        font-size: calc(var(--modifiers_base_size) * 3);
        margin-top: calc(var(--modifiers_base_size) * 1);
        margin-bottom: calc(var(--modifiers_base_size) * 1);
        text-align: center;
    }
    #modifiers_customGridLine, #modifiers_customDirectionsLine {
        all: revert;
    }
    #modifiers_customGridAndSize {
        width: 100%;
        height: calc(var(--modifiers_base_size) * 56);
        position: relative;
        display: block;
    }
    #modifiers_customGrid {
        left: calc(66% - calc(var(--custom_grid_width) / 2));
    }
    .modifiers_customGridSizeLine {
        left: calc(33% - calc(var(--modifiers_base_size) * 42));
    }
    #modifiers_customArrowBO {
        width: 100%;
        height: calc(var(--modifiers_base_size) * 56);
        position: relative;
        display: block;
    }
    #modifiers_customArrowContainer {
        left: revert;
        right: 0px;
    }
    #modifiers_customArrowOptions {
        width: calc(100% - calc(var(--modifiers_base_size) * 56));
        height: calc(var(--modifiers_base_size) * 56);
    }
    #modifiers_customArrow_directionRight {
        position: relative;
        width: 100%;
        height: auto;
        right: 0px;
        top: 0px;
    }
    #modifiers_customArrow_removeDirection, #modifiers_customArrow_addDirection {
        width: calc(var(--modifiers_base_size) * 50);
    }
    #modifiers_negativetiles_SpawnRatios {
        width: 100%;
    }
}
@media screen and (max-aspect-ratio: 6/5) {
    #modifiers {
        --modifiers_base_size: 0.75vw;
    }
    #modifiers_customArrowForms .gm_grid_button {
        width: calc(var(--modifiers_base_size) * 3.5);
        height: calc(var(--modifiers_base_size) * 3.5);
        border: calc(var(--modifiers_base_size) * 0.21) solid;
        font-size: calc(var(--modifiers_base_size) * 2.7);
    }
    #modifiers_customArrowForms .minus_button {
        left: calc(50% - calc(var(--modifiers_base_size) * 12));
    }
    #modifiers_customArrowForms .plus_button {
        right: calc(50% - calc(var(--modifiers_base_size) * 12));
    }
}
@media screen and (max-aspect-ratio: 1/1) {
    #modifiers {
        --modifiers_base_size: 0.85vw;
    }
    .modifiers_var_container, .modifiers_var_container_stretching {
        width: 50%;
    }
    #modifiers_customArrowForms .gm_var_title {
        font-size: calc(var(--modifiers_base_size) * 1.75);
    }
    #modifiers_customArrow_removeKey, #modifiers_customArrow_addKey {
        width: calc(var(--modifiers_base_size) * 20);
        font-size: calc(var(--modifiers_base_size) * 2);
    }
    #modifiers_customArrowForms .gm_grid_button {
        width: calc(var(--modifiers_base_size) * 3);
        height: calc(var(--modifiers_base_size) * 3);
        border: calc(var(--modifiers_base_size) * 0.18) solid;
        font-size: calc(var(--modifiers_base_size) * 2.4);
    }
    #modifiers_customArrowForms .minus_button {
        left: calc(50% - calc(var(--modifiers_base_size) * 9));
    }
    #modifiers_customArrowForms .plus_button {
        right: calc(50% - calc(var(--modifiers_base_size) * 9));
    }
}
@media screen and (max-aspect-ratio: 8/10) {
    #modifiers {
        --modifiers_base_size: 1vw;
    }
    #modifiers_customGridAndSize, .modifiers_box_2x2_entry {
        all: revert;
    }
    #modifiers_customGrid {
        position: relative;
        display: block;
        left: calc(50% - calc(var(--custom_grid_width) / 2));
    }
    .modifiers_customGridSizeLine {
        position: relative;
        width: auto;
        height: auto;
        left: 0vw;
    }
    .modifiers_customGridSizeLine > .modifiers_var_container {
        width: 50%;
    }
    #modifiers_customArrowBO {
        all: revert;
        margin-bottom: calc(var(--modifiers_base_size) * 2);
    }
    #modifiers_customArrowContainer, #modifiers_customArrowOptions {
        position: relative;
        display: block;
        top: 0px;
    }
    #modifiers_customArrowContainer {
        left: calc(50% - var(--modifiers_base_size) * 28);
    }
    #modifiers_customArrowOptions {
        width: 100%;
        display: block;
        height: auto;
        left: 0px;
    }
    .customArrow_var_container {
        width: 33%;
    }
    #modifiers_customArrowForms {
        position: relative;
        width: 100%;
        height: auto;
    }
    #modifiers_customArrow_keyLine {
        width: 100%;
        height: auto;
        position: relative;
        left: 0px;
        top: 0px;
    }
    #modifiers_customArrowForms .gm_grid_button {
        width: calc(var(--modifiers_base_size) * 4);
        height: calc(var(--modifiers_base_size) * 4);
        border: calc(var(--modifiers_base_size) * 0.24) solid;
        font-size: calc(var(--modifiers_base_size) * 3.2);
    }
    #modifiers_customArrowForms .minus_button {
        left: calc(50% - calc(var(--modifiers_base_size) * 14));
    }
    #modifiers_customArrowForms .plus_button {
        right: calc(50% - calc(var(--modifiers_base_size) * 14));
    }
    #modifiers_AutoMoves_buttonsLine {
        height: calc(var(--modifiers_base_size) * 18);
    }
}
@media screen and (max-aspect-ratio: 11/20) {
    .modifiers_var_container, .modifiers_var_container_stretching {
        width: 100%;
    }
    .modifiers_customGridSizeLine > .modifiers_var_container {
        width: 100%;
    }
    .customArrow_var_container {
        width: 50%;
    }
}
@media screen and (max-aspect-ratio: 9/20) {
    #modifiers {
        --modifiers_base_size: 1.2vw;
    }
}
@media screen and (max-aspect-ratio: 13/40) {
    #modifiers {
        --modifiers_base_size: 1.5vw;
    }
    .customArrow_var_container {
        width: 100%;
    }
}
@media screen and (max-aspect-ratio: 6/20) {
    #modifiers {
        --modifiers_base_size: 1.75vw;
    }
}

/* Gameplay */
#gameplay {
    display: none;
    color: var(--text-color);
}
#grid_line {
    position: relative;
    width: calc(1vw * var(--grid_vw));
    height: calc(1vw * var(--grid_vw));
    display: block;
    margin: auto;
    left: 0;
    top: 0;
}
#grid_container {
    display: block;
    width: calc(1vw * var(--grid_vw));
    height: calc(1vw * var(--grid_vw));
    position: relative;
}
#grid_and_arrows {
    position: relative;
    display: block;
    width: 100%;
    height: calc(1vw * var(--grid_vw));
}
#grid {
    position: absolute;
    display: inline-block;
    width: var(--grid_width);
    height: var(--grid_height);
    background-color: var(--grid-color);
    left: calc(50% - var(--grid_width) / 2);
    top: calc(50% - var(--grid_height) / 2);
}
.empty_tile {
    display: inline-block;
    width: calc(var(--tile_size) * max(1, var(--height)/var(--width)));
    height: calc(var(--tile_size) * max(1, var(--width)/var(--height)));
    position: absolute;
    overflow: visible;
    left: 0px;
    top: 0px;
    --this-tile-color: var(--tile-color);
    --this-tile-image: var(--tile-image);
    background-size: 100% 100%;
}
.empty_tile:not(.hexagon_clip) {
    background-color: var(--this-tile-color);
    background-image: var(--this-tile-image);
}
.empty_tile.hexagon_clip::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    clip-path: polygon(6.67% 25%, 6.67% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
    background-color: var(--this-tile-color);
    background-image: var(--this-tile-image);
    background-size: 100% 100%;
}
.tile {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    left: 0px;
    top: 0px;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--tile_size) * 0.5);
    font-weight: bold;
    z-index: 1;
}
.hexagon_clip:not(.empty_tile) {
    clip-path: polygon(6.67% 25%, 6.67% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
}
.tile_text {
    z-index: 2;
}
#score_line, #bottom_score_line {
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
    position: relative;
    flex-wrap: wrap;
    text-align: center;
    container: scoreLine / inline-size;
}
#bottom_score_line {
    margin-top: calc(0.05vw * var(--grid_vw));
}
.stat_container {
    background-color: var(--grid-color);
    background-image: var(--grid-color);
    padding-top: calc(0.05vw/33 * var(--grid_vw));
    min-height: calc(4.25vw/33 * var(--grid_vw));
    padding-left: calc(0.26vw/33 * var(--grid_vw));
    padding-right: calc(0.26vw/33 * var(--grid_vw));
    text-align: center;
    position: relative;
    font-weight: bold;
    margin-left: calc(1.55vw/33 * var(--grid_vw));
    margin-right: calc(1.55vw/33 * var(--grid_vw));
    margin-bottom: calc(0.2vw/33 * var(--grid_vw));
    min-width: calc(5.2vw/33 * var(--grid_vw));
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: calc(1vw/33 * var(--grid_vw));
    flex-wrap: wrap;
    flex-direction: column;
}
.stat_container > .stat_title {
    color: var(--text-color);
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 100%;
    margin: 0;
    position: relative;
    top: calc(0.2vw/33 * var(--grid_vw));
}
.stat_container > .stat_counter {
    color: #ffffff;
    font-weight: bold;
    font-size: 175%;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0;
}
#arrow-container {
    position: absolute;
    display: block;
    width: calc(0.95vw * var(--grid_vw));
    right: 0vw;
    top: 0vw;
    height: calc(0.95vw * var(--grid_vw));
    background-color: #00000008;
    border-radius: 10%;
}
.arrow {
    background-color: #ffff88;
    color: #ff6666;
    width: 5vw;
    height: 5vw;
    --this_arrow_size: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 0.3vw solid #ff6666;
    font-size: 3vw;
    position: absolute;
}
#game_over_screen {
    display: none;
    opacity: 0;
    background-color: #0006;
    position: relative;
    width: var(--grid_width);
    height: var(--grid_height);
    text-align: center;
    z-index: 2;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: calc(50% - var(--grid_height) / 2);
}
#game_over_screen > p {
    font-size: calc(var(--grid_width) / 8);
    color: #000;
    text-shadow: 0px 0px 0.2em white;
    position: relative;
    bottom: calc(var(--grid_height) / 6);
}
#go_again, #lone_win_again {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(var(--grid_height) * 0.65);
    left: calc(50% - calc(var(--grid_width) / 6));
    background-color: var(--grid-color);
    width: calc(var(--grid_width) / 3);
    padding-top: calc(var(--grid_height) * 0.02);
    padding-bottom: calc(var(--grid_height) * 0.02);
    margin: auto;
    color: #fff;
    font-size: calc(var(--grid_width) / 16);
    border: calc(var(--grid_width) / 300) solid white;
}
#win_screen {
    display: none;
    opacity: 0;
    background-color: #fff6;
    position: relative;
    width: var(--grid_width);
    height: var(--grid_height);
    text-align: center;
    z-index: 2;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: calc(50% - var(--grid_height) / 2);
}
#win_screen > p {
    font-size: calc(var(--grid_width) / 8);
    color: #000;
    text-shadow: 0px 0px 0.2em white;
    position: relative;
    bottom: calc(var(--grid_height) / 6);
}
#win_again {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(var(--grid_height) * 0.65);
    left: calc(75% - calc(var(--grid_width) / 6));
    background-color: var(--grid-color);
    width: calc(var(--grid_width) / 3);
    padding-top: calc(var(--grid_height) * 0.02);
    padding-bottom: calc(var(--grid_height) * 0.02);
    margin: auto;
    color: #fff;
    font-size: calc(var(--grid_width) / 16);
    border: calc(var(--grid_width) / 300) solid white;
}
#win_continue {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(var(--grid_height) * 0.65);
    left: calc(25% - calc(var(--grid_width) / 6));
    background-color: var(--grid-color);
    width: calc(var(--grid_width) / 3);
    padding-top: calc(var(--grid_height) * 0.02);
    padding-bottom: calc(var(--grid_height) * 0.02);
    margin: auto;
    color: #fff;
    font-size: calc(var(--grid_width) / 16);
    border: calc(var(--grid_width) / 300) solid white;
}
#left_of_grid {
    position: absolute;
    display: inline-block;
    width: 31vw;
    left: 1vw;
    top: 6vw;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    margin: none;
}
#next_tiles_container {
    display: block;
    background-color: var(--grid-color);
    margin: auto;
    font-size: calc(1.2vw/33 * var(--grid_vw));
    margin-bottom: calc(1vw/33 * var(--grid_vw));
}
#next_tiles {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
}
.stat_tiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.next_tile, .stat_array_tile {
    margin: calc(0.5vw/33 * var(--grid_vw));
    width: calc(4vw/33 * var(--grid_vw));
    height: calc(4vw/33 * var(--grid_vw));
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: calc(0.25vw/33 * var(--grid_vw));
    border-color: var(--text-color);
    position: relative;
}
.stat_tile {
    margin: calc(0.75vw/33 * var(--grid_vw));
    width: calc(6vw/33 * var(--grid_vw));
    height: calc(6vw/33 * var(--grid_vw));
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: calc(0.375vw/33 * var(--grid_vw));
    border-color: var(--text-color);
    position: relative;
}
.output {
    position: relative;
}
#below_grid_line {
    width: calc(1% * var(--grid_vw));
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(0.05vw * var(--grid_vw));
}
#return_button, #new_game_button, #gp_export_button {
    font-size: calc(1.4vw/33 * var(--grid_vw));
    font-weight: bold;
    padding: calc(0.5vw/33 * var(--grid_vw));
    width: calc(8.5vw/33 * var(--grid_vw));
    margin: auto;
    transition: scale 0.5s;
    text-align: center;
    justify-content: center;
}
#return_button:hover, #new_game_button:hover, #gp_export_button:hover {
    scale: 1.05;
}
#return_button {
    background-color: var(--text-color);
    color: #ffffff;
}
#new_game_button {
    background-color: var(--tile-color);
    color: #000000;
}
#gp_export_button {
    background-color: var(--grid-color);
    color: #ae00ff;
}
@media screen and (max-aspect-ratio: 6/5) {
    html {
        --grid_vw: 50;
    }
    #left_of_grid {
        position: relative;
        display: block;
        width: 100%;
        left: 0vw;
        top: 0vw;
        margin: auto;
    }
    #grid_line {
        position: absolute;
        left: 0vw;
        top: 0vw;
    }
}
@media screen and (max-aspect-ratio: 14/20) {
    html {
        --grid_vw: 50;
    }
    #grid_line {
        position: relative;
        left: 0vw;
        top: 0vw;
        display: block;
    }
    #arrow-container {
        position: relative;
        left: 0vw;
        top: 0vw;
        display: block;
        margin: auto;
    }
    #grid_and_arrows {
        display: block;
        width: 100vw;
        height: calc(2vw * var(--grid_vw));
        position: relative;
    }
}
@media screen and (max-aspect-ratio: 25/40) {
    html {
        --grid_vw: 60;
    }
}
@media screen and (max-aspect-ratio: 22/40) {
    html {
        --grid_vw: 70;
    }
}
@media screen and (max-aspect-ratio: 19/40) {
    html {
        --grid_vw: 80;
    }
}
@media screen and (max-aspect-ratio: 16/40) {
    html {
        --grid_vw: 90;
    }
}
@media screen and (max-aspect-ratio: 13/40) {
    html {
        --grid_vw: 100;
    }
}
@media screen and (min-aspect-ratio: 9/4) {
    html {
        --grid_vw: 30;
    }
    #left_of_grid {
        width: calc(31vw/33 * var(--grid_vw));
        left: calc(33vw - calc(31vw/33 * var(--grid_vw)));
    }
    #arrow-container {
        right: calc(33vw - calc(31vw/33 * var(--grid_vw)));
    }
}
@media screen and (min-aspect-ratio: 5/2) {
    html {
        --grid_vw: 25;
    }
    #left_of_grid {
        font-size: 0.75vw;
    }
}
@media screen and (min-aspect-ratio: 3/1) {
    html {
        --grid_vw: 20;
    }
}
@media screen and (min-aspect-ratio: 7/2) {
    html {
        --grid_vw: 15;
    }
}

/* 180 and DIVE color schemes */
.primeImage {
    width: 100%;
    height: 100%;
    position: absolute;
}
.VSideBox {
    width: 50%;
    height: 10%;
    position: absolute;
}
.HSideBox {
    width: 10%;
    height: 50%;
    position: absolute;
}
.cornerBox {
    width: 15%;
    height: 15%;
    position: absolute;
}
.negativeImage {
    width: 80%;
    height: 20%;
    position: absolute;
    left: 10%;
    top: 40%;
}
.subBox {
    width: 75%;
    height: 75%;
    position: absolute;
    left: 12.5%;
    top: 12.5%;
}
.subtile {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 23%;
    top: 23%;
    background-color: #000000;
    border: 0.25vw solid #c7bea7;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.subtile.hexagon_clip {
    border-radius: 100%;
}

/* Save code screen */
#save_code {
    display: none;
}
#save_code_heading {
    color: #e3a6ff;
    text-align: center;
    font-size: 2.75vh;
}
#save_code_box {
    overflow: auto;
    width: 99.5%;
    height: 60vh;
}
.save_code_button_container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.save_code_button {
    font-size: 4.5vh;
    font-weight: bold;
    padding: 3vh;
    height: 4.5vh;
    text-align: center;
    background-color: #cc5eff;
    color: #000000;
    display: inline-block;
}
#save_code_return_menu, #save_code_return_game {
    background-color: #cc5eff;
    color: #000000;
}
#save_code_import {
    color: #cc5eff;
    background-color: #000000;
}
#save_code_type {
    color: #e8b7ff;
    background-color: #510076;
}
@media screen and (max-aspect-ratio: 7/8) {
    #save_code_heading {
        font-size: 3.14vw;
    }
    .save_code_button {
        font-size: 5.14vw;
        padding: 3.43vw;
        height: 5.14vw;
    }
}

/* Guide */
#guide {
    display: none;
    color: #9affd1;
    text-align: center;
    --base_size: 1vh;
    font-size: calc(var(--base_size) * 2.5);
}
#guide_return {
    width: calc(var(--base_size) * 24.75);
    position: fixed;
    font-size: calc(var(--base_size) * 3);
    font-weight: bold;
    padding: calc(var(--base_size) * 1.5);
    height: calc(var(--base_size) * 3.75);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #787800;
    background-color: #004675;
    border: calc(var(--base_size) * 0.75) solid #787800;
    left: calc(50% - var(--base_size) * 12.375);
    bottom: calc(var(--base_size) * 1.5);
}
.guide_box {
    width: 95%;
    border: calc(var(--base_size)) solid;
    margin: auto;
    padding: calc(var(--base_size) * 1.5);
    margin-bottom: calc(var(--base_size) * 3);
}
#guide_basics {
    background-color: #2072ff;
    color: #ffe100;
    border-color: #ffe100;
}
#guide_modes {
    background-color: #004675;
    color: #ffff00;
    border-color: #ffff00;
}
#guide_modifiers {
    background-color: #ffef77;
    color: #ff7742;
    border-color: #ff7742;
}
#guide_customGrid {
    background-color: #fcd164;
    color: #d700c9;
    border-color: #d700c9;
}
#guide_credits {
    background-color: #f9cccc;
    color: #8b793e;
    border-color: #8b793e;
}
#guide_changelog {
    background-color: #3c5a67;
    color: #6ee109;
    border-color: #6ee109;
}
ul {
    text-align: left;
}
.img_caption {
    font-size: 0.8em;
    font-style: italic;
    margin-top: -0.1em;
}
#guide_bottomspace {
    height: calc(var(--base_size) * 9);
}
@media screen and (max-aspect-ratio: 16/9) {
    #guide {
        --base_size: 0.5625vw;
    }
}
@media screen and (max-aspect-ratio: 7/5) {
    #guide {
        --base_size: 0.65vw;
    }
}
@media screen and (max-aspect-ratio: 6/5) {
    #guide {
        --base_size: 0.75vw;
    }
}
@media screen and (max-aspect-ratio: 1/1) {
    #guide {
        --base_size: 0.85vw;
    }
}
@media screen and (max-aspect-ratio: 8/10) {
    #guide {
        --base_size: 1vw;
    }
}
@media screen and (max-aspect-ratio: 5/10) {
    #guide {
        --base_size: 1.2vw;
    }
}
@media screen and (max-aspect-ratio: 4/10) {
    #guide {
        --base_size: 1.5vw;
    }
}
@media screen and (max-aspect-ratio: 13/40) {
    #guide {
        --base_size: 1.75vw;
    }
}

/* Hidden Tile Viewer */
#tile_viewer {
    display: none;
    color: #ff0055;
    text-align: center;
    --base_size: 1vh;
    --secondary_size: var(--base_size);
    font-size: calc(var(--base_size) * 2.5);
}
#tile_viewer_return {
    width: calc(var(--base_size) * 33);
    position: relative;
    font-size: calc(var(--base_size) * 4);
    font-weight: bold;
    padding: calc(var(--base_size) * 2);
    height: calc(var(--base_size) * 5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #787800;
    background-color: #004675;
    border: var(--base_size) solid #787800;
    margin: auto;
    margin-top: calc(var(--base_size) * 3);
    margin-bottom: 0;
}
#tile_viewer_title {
    font-size: calc(var(--base_size) * 6);
    margin-top: 0;
    margin-bottom: calc(var(--base_size) * 1.5);
}
#tile_viewer_scheme_switch {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-top: calc(var(--base_size) * -2);
}
#tile_viewer_scheme {
    display: inline-block;
    font-size: calc(var(--base_size) * 4);
    font-weight: bold;
}
#tile_viewer .previous_arrow_button {
    position: absolute;
    height: calc(var(--base_size) * 6);
    width: auto;
    left: calc(50% - calc(var(--base_size) * 40));
    top: calc(var(--base_size) * 3);
}
#tile_viewer .next_arrow_button {
    position: absolute;
    height: calc(var(--base_size) * 6);
    width: auto;
    right: calc(50% - calc(var(--base_size) * 40));
    top: calc(var(--base_size) * 3);
}
#viewer_tile {
    width: calc(var(--secondary_size) * 35);
    height: calc(var(--secondary_size) * 35);
    background-color: #ffffff;
    border: calc(var(--secondary_size) * 0.875) solid black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#viewer_tile.hexagon_clip {
    border-radius: 100%
}
#viewer_tile_text {
    z-index: 2;
}
.viewer_var_container {
    font-size: calc(var(--secondary_size) * 4);
}
.viewer_var_container > * {
    display: inline-block;
}
.tile_viewer_form > input {
    font-size: calc(var(--secondary_size) * 3);
    height: calc(var(--secondary_size) * 4);
}
.tile_viewer_button {
    width: calc(var(--base_size) * 75);
    font-size: calc(var(--base_size) * 3);
    border: calc(var(--base_size) * 0.75) solid #000000;
    font-weight: bold;
    margin: auto;
    padding: calc(var(--base_size) * 1);
}
#viewer_hideNumber {
    width: calc(var(--base_size) * 30);
    font-size: calc(var(--base_size) * 3);
    border: calc(var(--base_size) * 0.5) solid #000000;
    font-weight: bold;
    margin: auto;
    padding: calc(var(--base_size) * 1);
    margin-top: calc(var(--base_size) * 1);
}
@media screen and (max-aspect-ratio: 9/10) {
    #tile_viewer {
        --base_size: 1.1vw;
    }
}
@media screen and (max-aspect-ratio: 7/10) {
    #tile_viewer {
        --secondary_size: 1.5vw;
    }
}
@media screen and (max-aspect-ratio: 5/10) {
    #tile_viewer {
        --secondary_size: 2vw;
    }
}

#announcements {
    font-size: calc(3vw/33 * var(--grid_vw));
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    z-index: 2;
}
